---
import { Image } from "astro:assets";
---

<header
  class="fixed top-0 left-0 right-0 z-50 bg-transparent p-3 items-center"
  role="banner"
>
  <div
    class="mx-auto max-w-6xl w-full bg-white backdrop-blur-md border border-gray-300 rounded-xl h-[56px] px-4 flex items-center justify-between"
  >
    <a
      href="#home"
      class="text-xl font-bold tracking-tight font-space-grotesk flex flex-row gap-2 items-center text-center"
    >
      <Image
        src="/logit-logo.png"
        alt="LogIt Logo"
        width={100}
        height={32}
        class="h-4 w-auto"
      />
      logit
    </a>

    <nav class="md:flex gap-6 text-sm font-medium">
      <a href="#features" class="hover:underline">Features</a>
      <a href="#how" class="hover:underline">How It Works</a>
      <a href="#feedback" class="hover:underline">AI Feedback</a>
      <a href="#faq" class="hover:underline">FAQ</a>
    </nav>

    <nav class="flex flex-row gap-2">
      <a
        href="#get-started"
        class="text-sm font-medium bg-transparent bg-white text-black px-3 py-1.5 rounded hidden sm:block border items-center text-center justify-center hover:bg-gray-50 duration-200 ease-in-out transition"
      >
        Dashboard
      </a>

      <a
        href="#get-started"
        class="text-sm font-medium bg-black text-white px-4 py-2 rounded hidden sm:block hover:bg-black/90 duration-200 ease-in-out transition"
      >
        Get Started
      </a>
    </nav>
  </div>
</header>
